<div>
  <label for="game-link">Just C-copy the link below and give it to a friend so you can start playing!</label>
  <input id="game-link" type="text" name="game-link" disabled value="{{game_url}}" onclick="this.select()" onfocus="this.select()"/>
</div>