<li id="online" class="tab first"><a href="#openModal" data-bypass><span>Online</span></a></li>
<li class="tab"><a href="restart"><span>Restart</span></a></li>
<li id="offline" class="tab last"><a href="offline"><span>Offline</span></a></li>
