<a href="#close" title="Close" class="close" id="closeModal" data-bypass>X</a>
<h3 class="widget-title">Who do you want to play with?</h3>
<div class="inner clearfix">
 <a class="btn btn-brown" href="#close" id="new_game" data-bypass><span>A friend</span></a>
 <a class="btn btn-brown" href="#close" id="random_game" data-bypass><span>A stranger</span></a>
</div>
