<a href="#close" title="Close" class="close" data-bypass>X</a>
<div class="clearfix">
 <a class="btn" href="#close" data-bypass><span>Go!</span></a>
 <div class="pull-left">
  <input type="text" placeholder="Enter a password if any?" value="" name="search" hidefocus="true" style="outline: medium none;">
 </div>
</div>