!!!
%html
  %head
    %title Block - a mini-game
    %script(data-main="scripts/main" src="bower_components/requirejs/require")
    %link(rel="stylesheet" type="text/css" href="styles/main.css")
  %body
    #container