$bar_length: 5em;
$bar_width: 0.2em;
#info {
  font-size: 1.5em;
  font-family: "Helvetica";
  text-align: center;
  #turn {
    &.p1 {
      color: cornflowerblue;
    }
    &.p2 {
      color: indianred;
    }
  }
}
#map {
  .row {
    display: table;
    margin:  auto;
    .space {
      float: left;
      width: $bar_length/2;
      height: $bar_length/2;
      margin: 0 $bar_length/4;
      border: 1px solid gray;
    }
    .state1 {
      background-color: cornflowerblue;
    }
    .state2 {
      background-color: indianred;
    }
    &:first-child {
      .space {
        border-top: 2px solid indianred;
      }
    }
    &:last-child {
      .space {
        border-bottom: 2px solid indianred;
      }
    }
  }
  .even {
    .state1 {
      width: $bar_width;
      margin: -$bar_length/4 ($bar_length - $bar_width)/2;
      height: $bar_length;
    }
    .state2 {
      height: $bar_width;
      margin: $bar_length/4-$bar_width/2 0;
      width: $bar_length;
    }
  }
  .odd {
    .space {
      &:first-child {
        border-left: 2px solid cornflowerblue;
      }
      &:last-child {
        border-right: 2px solid cornflowerblue;
      }
    }
    .state1 {
      height: $bar_width;
      margin: $bar_length/4-$bar_width/2 0;
      width: $bar_length;
    }
    .state2 {
      width: $bar_width;
      margin: -$bar_length/4 ($bar_length - $bar_width)/2;
      height: $bar_length;
    }
  }
  margin: $bar_length/2 auto;
  width: 960px;
}
